In [1]:
#import libraries:
import pandas as pd

# Import and explore the dataset

In [2]:
dmd = pd.read_csv("../datasets/train.csv", index_col = 'id')

In [3]:
dmd.head()

    carat        cut color clarity  depth  table     x     y     z  price
id
0    0.50      Ideal     D     VS2   62.3   55.0  5.11  5.07  3.17   1845
1    1.54       Good     I     VS1   63.6   60.0  7.30  7.33  4.65  10164
2    1.32  Very Good     J     SI2   61.7   60.0  6.95  7.01  4.31   5513
3    1.20      Ideal     I     SI1   62.1   55.0  6.83  6.79  4.23   5174
4    1.73    Premium     I     SI1   61.2   60.0  7.67  7.65  4.69  10957

In [4]:
dmd.shape

(40455, 10)

In [5]:
dmd.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z',
       'price'],
      dtype='object')

In [6]:
dmd.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [7]:
dmd.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [8]:
dmd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40455 entries, 0 to 40454
Data columns (total 10 columns):
carat      40455 non-null float64
cut        40455 non-null object
color      40455 non-null object
clarity    40455 non-null object
depth      40455 non-null float64
table      40455 non-null float64
x          40455 non-null float64
y          40455 non-null float64
z          40455 non-null float64
price      40455 non-null int64
dtypes: float64(6), int64(1), object(3)
memory usage: 3.4+ MB

In [9]:
dmd.describe()

,carat,depth,table,x,y,z,price
count,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000
mean,0.800571,61.749675,57.462820,5.737267,5.741070,3.541966,3956.020517
std,0.475258,1.433896,2.243808,1.123680,1.153677,0.696327,4009.646467
min,0.200000,43.000000,43.000000,0.000000,0.000000,0.000000,326.000000
25%,0.400000,61.000000,56.000000,4.720000,4.730000,2.910000,954.000000
50%,0.700000,61.800000,57.000000,5.700000,5.710000,3.530000,2428.000000
75%,1.050000,62.500000,59.000000,6.540000,6.540000,4.040000,5362.500000
max,5.010000,79.000000,95.000000,10.740000,58.900000,8.060000,18818.000000

In [10]:
#Explore the columns that are objects:

In [11]:
dmd["cut"].value_counts()

Ideal        16152
Premium      10321
Very Good     9040
Good          3729
Fair          1213
Name: cut, dtype: int64

In [12]:
dmd["color"].value_counts()

G    8469
E    7282
F    7199
H    6210
D    5098
I    4091
J    2106
Name: color, dtype: int64

In [13]:
dmd["clarity"].value_counts()

SI1     9758
VS2     9272
SI2     6895
VS1     6151
VVS2    3799
VVS1    2692
IF      1321
I1       567
Name: clarity, dtype: int64

# Conclusions
- The column we want to predict is the price and is a continuous value, wich means we will be using regression supervised algorithms, in order to do so the data has to be numeric 
- We will also have to take into consideration the features we would like to keep

In [14]:
%store dmd

Stored 'dmd' (DataFrame)