# 3. DATA CLEANING:
- Drop columns : Check for high colinearity
- Change data type : replace categories whith numbers (manually)

In [1]:
#import the libraries:
import pandas as pd

In [2]:
#import the dataset:
%store -r dmd

In [3]:
dmd.head()

    carat        cut color clarity  depth  table     x     y     z  price
id
0    0.50      Ideal     D     VS2   62.3   55.0  5.11  5.07  3.17   1845
1    1.54       Good     I     VS1   63.6   60.0  7.30  7.33  4.65  10164
2    1.32  Very Good     J     SI2   61.7   60.0  6.95  7.01  4.31   5513
3    1.20      Ideal     I     SI1   62.1   55.0  6.83  6.79  4.23   5174
4    1.73    Premium     I     SI1   61.2   60.0  7.67  7.65  4.69  10957

In [4]:
dmd.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

## Drop columns

We will be dropping the columns : 'x', 'y' and 'z', due to their high correlation.
(I am not going to repeat the heat map that will display the colinearity of the columns, it can be found in the files '1_cleaning_data' and '2_cleaning_data')

In [5]:
dmd_cl3 = dmd.drop(columns = ['x','y','z']) #HIGH CORRELATION
dmd_cl3.head()

    carat        cut color clarity  depth  table  price
id
0    0.50      Ideal     D     VS2   62.3   55.0   1845
1    1.54       Good     I     VS1   63.6   60.0  10164
2    1.32  Very Good     J     SI2   61.7   60.0   5513
3    1.20      Ideal     I     SI1   62.1   55.0   5174
4    1.73    Premium     I     SI1   61.2   60.0  10957

## Data type

In [6]:
#For the categorical columns, lets subsitute for numbers:

In [7]:
dmd_cl3.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
dtype: object

In [8]:
#--------------------- CUT ----------------------------

In [9]:
dmd_cl3['cut'].unique()

array(['Ideal', 'Good', 'Very Good', 'Premium', 'Fair'], dtype=object)

In [10]:
#Accorign to kaggle the order goes ;(Fair, Good, Very Good, Premium, Ideal)

In [11]:
"""
Ideal = 5
Premium = 5
Very Good = 3
Good = 2
Fair =1
"""

dmd_cl3["cut"].replace({"Ideal": 5, "Premium": 4, "Very Good" : 3, "Good" : 2, "Fair" : 1}, inplace=True)

In [12]:
#--------------------- COLOR ----------------------------

In [13]:
dmd_cl3['color'].unique()

array(['D', 'I', 'J', 'G', 'E', 'H', 'F'], dtype=object)

In [14]:
# Order according to : https://www.diamonds.pro/education/color/
dmd_cl3["color"].replace({"D": 7, "E": 6, "F" : 5, "G" : 4, "H" : 3, "I": 2 , "J": 1}, inplace=True)

In [15]:
#--------------------- CLARITY ----------------------------

In [16]:
dmd_cl3['clarity'].unique()

array(['VS2', 'VS1', 'SI2', 'SI1', 'VVS2', 'VVS1', 'I1', 'IF'],
      dtype=object)

In [17]:
# According to : https://www.diamonds.pro/education/clarity/
dmd_cl3["clarity"].replace({"IF": 9, "VVS1": 8, "VVS2" : 7, 
                             "VS1" : 6, "VS2" : 5, "SI1": 4, 
                             "SI2" : 2, "I1": 1 }, inplace=True)

In [18]:
dmd_cl3.dtypes

carat      float64
cut          int64
color        int64
clarity      int64
depth      float64
table      float64
price        int64
dtype: object

In [19]:
dmd_cl3.head()

    carat  cut  color  clarity  depth  table  price
id
0    0.50    5      7        5   62.3   55.0   1845
1    1.54    2      2        6   63.6   60.0  10164
2    1.32    3      1        2   61.7   60.0   5513
3    1.20    5      2        4   62.1   55.0   5174
4    1.73    4      2        4   61.2   60.0  10957

In [20]:
%store dmd_cl3

Stored 'dmd_cl3' (DataFrame)