In [40]:
import pandas as pd
diamond = pd.read_csv("train.csv",index_col="id")

In [41]:
diamond.head()

    carat        cut color clarity  depth  table     x     y     z  price
id
0    0.50      Ideal     D     VS2   62.3   55.0  5.11  5.07  3.17   1845
1    1.54       Good     I     VS1   63.6   60.0  7.30  7.33  4.65  10164
2    1.32  Very Good     J     SI2   61.7   60.0  6.95  7.01  4.31   5513
3    1.20      Ideal     I     SI1   62.1   55.0  6.83  6.79  4.23   5174
4    1.73    Premium     I     SI1   61.2   60.0  7.67  7.65  4.69  10957

In [42]:
diamond = diamond.drop(columns=['z','y'])
diamond.head()

    carat        cut color clarity  depth  table     x  price
id
0    0.50      Ideal     D     VS2   62.3   55.0  5.11   1845
1    1.54       Good     I     VS1   63.6   60.0  7.30  10164
2    1.32  Very Good     J     SI2   61.7   60.0  6.95   5513
3    1.20      Ideal     I     SI1   62.1   55.0  6.83   5174
4    1.73    Premium     I     SI1   61.2   60.0  7.67  10957

In [43]:
diamond["cut"].replace({"Ideal": 5, "Premium": 4, "Very Good" : 3, "Good" : 2, "Fair" : 1}, inplace=True)
diamond["color"].replace({"D": 7, "E": 6, "F" : 5, "G" : 4, "H" : 3, "I": 2 , "J": 1}, inplace=True)
diamond["clarity"].replace({"IF": 9, "VVS1": 8, "VVS2" : 7, 
                             "VS1" : 6, "VS2" : 5, "SI1": 4, 
                             "SI2" : 2, "I1": 1 }, inplace=True)

In [44]:
diamond.head()

    carat  cut  color  clarity  depth  table     x  price
id
0    0.50    5      7        5   62.3   55.0  5.11   1845
1    1.54    2      2        6   63.6   60.0  7.30  10164
2    1.32    3      1        2   61.7   60.0  6.95   5513
3    1.20    5      2        4   62.1   55.0  6.83   5174
4    1.73    4      2        4   61.2   60.0  7.67  10957

In [45]:
### I believe the bid difference between my rmse and the one in kaggle is due to my model being OVERFITTED

In [46]:
## To repair this, I will be doing the following:

## Hyperparameter tunning

process of searching for the ideal model architecture is referred to as hyperparameter tuning.

In [47]:
X = diamond.drop(columns = ['price'])
y = diamond['price']

In [48]:
from sklearn.model_selection import train_test_split

In [49]:
X_train, X_test, y_train, y_test = train_test_split( X, y, train_size=0.8)

In [50]:
#we select a random model in this case SVM:

In [51]:
from sklearn import svm

In [52]:
"""
model = svm.SVC(kernel = 'rbf', C = 30, gamma = 'auto')
model.fit(X_train,y_train)
model.score(X_test, y_test)
"""

"\nmodel = svm.SVC(kernel = 'rbf', C = 30, gamma = 'auto')\nmodel.fit(X_train,y_train)\nmodel.score(X_test, y_test)\n"

In [53]:
## To select the best parameters we use gridsearch:

In [54]:
from sklearn.model_selection import GridSearchCV

In [55]:
"""
clf =GridSearchCV(svm.SVC(gamma='auto'),{
    'C': [1,10,20],
    'kernel': ['rbf','linear']
}, cv = 5, return_train_score = False)

clf.fit(X,y)
clf.cv_results_
"""

#PETA EL KERNEL

"\nclf =GridSearchCV(svm.SVC(gamma='auto'),{\n    'C': [1,10,20],\n    'kernel': ['rbf','linear']\n}, cv = 5, return_train_score = False)\n\nclf.fit(X,y)\nclf.cv_results_\n"

In [56]:
"""
clf =GridSearchCV(svm.SVC(gamma='auto'),{
    'C': [1,10],
    'kernel': 'linear'
}, cv = 5, return_train_score = False)

clf.fit(X_train,y_train)
clf.cv_results_
"""
#SIN PROBAR

"\nclf =GridSearchCV(svm.SVC(gamma='auto'),{\n    'C': [1,10],\n    'kernel': 'linear'\n}, cv = 5, return_train_score = False)\n\nclf.fit(X_train,y_train)\nclf.cv_results_\n"

In [57]:
"""
from sklearn.model_selection import RandomizedSearchCV
rs = RandomizedSearchCV(svm.SVC(gamma = 'auto'),{
        'C': [1,10,20],
        'kernel' : ['rbf','linear']
    },
    cv = 5,
    return_train_score = False,
    n_iter=2
)
rs.fit(X,y)
pd.DataFrame(rs.cv_results_)[['param_C','param_kernel','mean_test_score']]
"""
#15 MINUTOS Y NADA

"\nfrom sklearn.model_selection import RandomizedSearchCV\nrs = RandomizedSearchCV(svm.SVC(gamma = 'auto'),{\n        'C': [1,10,20],\n        'kernel' : ['rbf','linear']\n    },\n    cv = 5,\n    return_train_score = False,\n    n_iter=2\n)\nrs.fit(X,y)\npd.DataFrame(rs.cv_results_)[['param_C','param_kernel','mean_test_score']]\n"

In [58]:
"""
from sklearn.model_selection import cross_val_score
clf = svm.SVC(kernel='linear', C=1)
scores = cross_val_score(clf, X_test, y_test, cv=5)
"""
#15 MINUTOS Y NADA

"\nfrom sklearn.model_selection import cross_val_score\nclf = svm.SVC(kernel='linear', C=1)\nscores = cross_val_score(clf, X_test, y_test, cv=5)\n"

In [59]:
#lets try a simple model and go from there:

In [60]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [61]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [62]:
#Training set
y_pred = model.predict(X_train)

rmse_train = mean_squared_error(y_train, y_pred, squared= False) 
rmse_train

1208.4636575891784

In [63]:
#Test set
y_pred_test = model.predict(X_test)

rmse_test = mean_squared_error(y_test, y_pred_test, squared= False) 
rmse_test

1156.2131588988864

In [64]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(model, X_train, y_train, cv=3, scoring='neg_root_mean_squared_error')
scores

array([-1195.98132775, -1201.3150192 , -1229.79526341])

In [65]:
#The rmse is above 1.000, Lets try other models

# Model :

## Decission tree

In [66]:
from sklearn.tree import DecisionTreeClassifier

In [67]:
tree = DecisionTreeClassifier(max_depth = 3)

In [68]:
tree.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=3)

In [69]:
from sklearn.metrics import accuracy_score, precision_score, f1_score, confusion_matrix

In [70]:
y_pred = tree.predict(X_test)

In [71]:
accuracy_score(y_test,y_pred)

0.0096403411197627