We are doing the followign here
- drop : cols high correlation
- manual dummies
- LOTS of different models with CROSS VALIDATION

In [23]:
#import the libraries:
import pandas as pd

In [24]:
#import the dataset:
diamond = pd.read_csv("train.csv",index_col="id")

In [25]:
diamond = diamond.drop(columns = ['x','y','z']) #HIGH CORRELATION
diamond.head()

    carat        cut color clarity  depth  table  price
id
0    0.50      Ideal     D     VS2   62.3   55.0   1845
1    1.54       Good     I     VS1   63.6   60.0  10164
2    1.32  Very Good     J     SI2   61.7   60.0   5513
3    1.20      Ideal     I     SI1   62.1   55.0   5174
4    1.73    Premium     I     SI1   61.2   60.0  10957

In [26]:
diamond["cut"].replace({"Ideal": 5, "Premium": 4, "Very Good" : 3, "Good" : 2, "Fair" : 1}, inplace=True)
diamond["color"].replace({"D": 7, "E": 6, "F" : 5, "G" : 4, "H" : 3, "I": 2 , "J": 1}, inplace=True)
diamond["clarity"].replace({"IF": 9, "VVS1": 8, "VVS2" : 7, 
                             "VS1" : 6, "VS2" : 5, "SI1": 4, 
                             "SI2" : 2, "I1": 1 }, inplace=True)

In [27]:
diamond.head()

    carat  cut  color  clarity  depth  table  price
id
0    0.50    5      7        5   62.3   55.0   1845
1    1.54    2      2        6   63.6   60.0  10164
2    1.32    3      1        2   61.7   60.0   5513
3    1.20    5      2        4   62.1   55.0   5174
4    1.73    4      2        4   61.2   60.0  10957

In [28]:
diamond.dtypes

carat      float64
cut          int64
color        int64
clarity      int64
depth      float64
table      float64
price        int64
dtype: object

#### The data is now ready fot the different algorithms

# MODELS:

In [29]:
X = diamond.drop(columns = ['price'])
y = diamond['price']

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
X_train, X_test, y_train, y_test = train_test_split( X, y, train_size=0.8)

In [32]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

## 1. Decission tree

In [33]:
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeClassifier

In [34]:
tree = DecisionTreeClassifier(max_depth = 3)
tree.fit(X_train, y_train)
y_pred_train_tree = tree.predict(X_train)
y_pred_test_tree = tree.predict(X_test)

In [35]:
from sklearn import metrics
#TRAIN:
print('TRAIN : Mean Absolute Error:', metrics.mean_absolute_error(y_train, y_pred_train_tree))
print('TRAIN : Mean Squared Error:', metrics.mean_squared_error(y_train, y_pred_train_tree))
print('TRAIN : Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_train, y_pred_train_tree)))
print ('----------------------------------------------------------')
#TEST:
print('TEST : Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred_test_tree ))
print('TEST : Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred_test_tree ))
print('TEST : Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_test_tree )))

TRAIN : Mean Absolute Error: 3196.348751699419
TRAIN : Mean Squared Error: 25866366.763780743
TRAIN : Root Mean Squared Error: 5085.898815723799
----------------------------------------------------------
TEST : Mean Absolute Error: 3221.673958719565
TEST : Mean Squared Error: 25864850.314423434
TEST : Root Mean Squared Error: 5085.749729825823

In [36]:
#Lets corroborate these values with cross validation:
from sklearn.model_selection import cross_val_score
scores_tree = cross_val_score(tree, X_train, y_train, cv=3, scoring='neg_root_mean_squared_error')
scores_tree

/home/ubuntu/.local/lib/python3.8/site-packages/sklearn/model_selection/_split.py:670: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=3.
  warnings.warn(("The least populated class in y has only %d"

array([-5083.01652903, -5090.22565211, -5084.45284121])

In [37]:
# This value is VERY HIGH --------> NOT VALID

## 2. Random forest

In [38]:
from sklearn.ensemble import RandomForestRegressor

In [39]:
randforest = RandomForestRegressor(n_estimators=20, random_state=0)
randforest.fit(X_train, y_train)
y_pred_train_randforest = randforest.predict(X_train)
y_pred_test_randforest = randforest.predict(X_test)

In [40]:
#TRAIN:
print('TRAIN : Mean Absolute Error:', metrics.mean_absolute_error(y_train, y_pred_train_randforest))
print('TRAIN : Mean Squared Error:', metrics.mean_squared_error(y_train, y_pred_train_randforest))
print('TRAIN : Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_train, y_pred_train_randforest)))
print ('----------------------------------------------------------')
#TEST:
print('TEST : Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred_test_randforest ))
print('TEST : Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred_test_randforest ))
print('TEST : Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_test_randforest )))

TRAIN : Mean Absolute Error: 117.45496737669302
TRAIN : Mean Squared Error: 53096.90546678233
TRAIN : Root Mean Squared Error: 230.4276577730684
----------------------------------------------------------
TEST : Mean Absolute Error: 290.59836914642307
TEST : Mean Squared Error: 313683.1748827111
TEST : Root Mean Squared Error: 560.0742583646486

In [41]:
#Lets corroborate these values with cross validation:
scores_randforest = cross_val_score(randforest, X_train, y_train, cv=3, scoring='neg_root_mean_squared_error')
scores_randforest

array([-582.78439813, -588.86797681, -590.52249004])

In [42]:
#It is less than 1.000 --------> VALID

## 3. K-nearest neighbor

In [58]:
from sklearn.neighbors import KNeighborsClassifier

In [59]:
neiclass = KNeighborsClassifier(n_neighbors=5)
neiclass.fit(X_train, y_train)

KNeighborsClassifier()

In [60]:
y_pred_train_neiclass = neiclass.predict(X_train)
y_pred_test_neiclass = neiclass.predict(X_test)

In [61]:
#TRAIN:
print('TRAIN : Mean Absolute Error:', metrics.mean_absolute_error(y_train, y_pred_train_neiclass))
print('TRAIN : Mean Squared Error:', metrics.mean_squared_error(y_train, y_pred_train_neiclass))
print('TRAIN : Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_train, y_pred_train_neiclass)))
print ('----------------------------------------------------------')
#TEST:
print('TEST : Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred_test_neiclass ))
print('TEST : Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred_test_neiclass ))
print('TEST : Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_test_neiclass )))

TRAIN : Mean Absolute Error: 782.1345939933259
TRAIN : Mean Squared Error: 1979320.721048078
TRAIN : Root Mean Squared Error: 1406.8833359763978
----------------------------------------------------------
TEST : Mean Absolute Error: 932.2108515634656
TEST : Mean Squared Error: 2346869.656408355
TEST : Root Mean Squared Error: 1531.949625936948

In [62]:
#Lets corroborate these values with cross validation:
scores_neighclass = cross_val_score(neiclass, X_train, y_train, cv=3, scoring='neg_root_mean_squared_error')
scores_neighclass

/home/ubuntu/.local/lib/python3.8/site-packages/sklearn/model_selection/_split.py:670: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=3.
  warnings.warn(("The least populated class in y has only %d"

array([-1659.02880416, -1665.01416998, -1676.25338072])

In [63]:
#It is more than 1.000 --------> NOT VALID

## 4. Bayesian Ridge

In [67]:
from sklearn.linear_model import BayesianRidge

In [68]:
bay = BayesianRidge() 
bay.fit(X_train, y_train)

BayesianRidge()

In [69]:
y_pred_train_bay = bay.predict(X_train)
y_pred_test_bay = bay.predict(X_test)

In [70]:
#TRAIN:
print('TRAIN : Mean Absolute Error:', metrics.mean_absolute_error(y_train, y_pred_train_bay))
print('TRAIN : Mean Squared Error:', metrics.mean_squared_error(y_train, y_pred_train_bay))
print('TRAIN : Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_train, y_pred_train_bay)))
print ('----------------------------------------------------------')
#TEST:
print('TEST : Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred_test_bay  ))
print('TEST : Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred_test_bay  ))
print('TEST : Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_test_bay  )))

TRAIN : Mean Absolute Error: 843.6247609035509
TRAIN : Mean Squared Error: 1499255.7015848944
TRAIN : Root Mean Squared Error: 1224.440975133099
----------------------------------------------------------
TEST : Mean Absolute Error: 835.9536870855362
TEST : Mean Squared Error: 1413385.5552841723
TEST : Root Mean Squared Error: 1188.85892993415

In [71]:
#Lets corroborate these values with cross validation:
scores_bay = cross_val_score(bay, X_train, y_train, cv=3, scoring='neg_root_mean_squared_error')
scores_bay

array([-1244.33890744, -1216.00469702, -1213.58251824])

In [72]:
#It is more than 1.000 --------> NOT VALID

## 5. Elastic net

In [82]:
from sklearn.linear_model import ElasticNet
from sklearn.datasets import make_regression

In [83]:
elnet = ElasticNet(random_state=0)
elnet.fit(X_train, y_train)

ElasticNet(random_state=0)

In [84]:
y_pred_train_elnet = elnet.predict(X_train)
y_pred_test_elnet = elnet.predict(X_test)

In [85]:
#TRAIN:
print('TRAIN : Mean Absolute Error:', metrics.mean_absolute_error(y_train, y_pred_train_elnet))
print('TRAIN : Mean Squared Error:', metrics.mean_squared_error(y_train, y_pred_train_elnet))
print('TRAIN : Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_train, y_pred_train_elnet)))
print ('----------------------------------------------------------')
#TEST:
print('TEST : Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred_test_elnet))
print('TEST : Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred_test_elnet))
print('TEST : Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_test_elnet)))

TRAIN : Mean Absolute Error: 1296.977835196053
TRAIN : Mean Squared Error: 3710337.1537085697
TRAIN : Root Mean Squared Error: 1926.2235471794465
----------------------------------------------------------
TEST : Mean Absolute Error: 1298.3589366688957
TEST : Mean Squared Error: 3694390.7686557625
TEST : Root Mean Squared Error: 1922.0798028843035

In [86]:
#Lets corroborate these values with cross validation:
scores_elnet = cross_val_score(elnet, X_train, y_train, cv=3, scoring='neg_root_mean_squared_error')
scores_elnet

array([-1954.96132774, -1926.5779674 , -1897.74843852])

In [87]:
#It is more than 1.000 --------> NOT VALID

## SECOND PHASE

In [89]:
diamond_1 = pd.read_csv("predict.csv", index_col="id")

In [90]:
diamond_1 = diamond_1.drop(columns = ['x','y','z']) #HIGH CORRELATION
diamond_1["cut"].replace({"Ideal": 5, "Premium": 4, "Very Good" : 3, "Good" : 2, "Fair" : 1}, inplace=True)
diamond_1["color"].replace({"D": 7, "E": 6, "F" : 5, "G" : 4, "H" : 3, "I": 2 , "J": 1}, inplace=True)
diamond_1["clarity"].replace({"IF": 9, "VVS1": 8, "VVS2" : 7, 
                             "VS1" : 6, "VS2" : 5, "SI1": 4, 
                             "SI2" : 2, "I1": 1 }, inplace=True)

In [91]:
diamond_1.head()

    carat  cut  color  clarity  depth  table
id
0    0.45    4      6        4   62.8   58.0
1    1.23    5      3        4   61.0   56.0
2    0.33    5      2        9   61.8   55.0
3    0.51    4      7        5   58.0   60.0
4    0.40    4      6        5   62.2   59.0

In [92]:
y_pred_test_diamond_1 = randforest.predict(diamond_1)

In [94]:
diamond_1.head()

    carat  cut  color  clarity  depth  table
id
0    0.45    4      6        4   62.8   58.0
1    1.23    5      3        4   61.0   56.0
2    0.33    5      2        9   61.8   55.0
3    0.51    4      7        5   58.0   60.0
4    0.40    4      6        5   62.2   59.0

In [95]:
diamond_1["price"]=y_pred_test_diamond_1
diamond_1.head()

    carat  cut  color  clarity  depth  table     price
id
0    0.45    4      6        4   62.8   58.0  15359.30
1    1.23    5      3        4   61.0   56.0  16060.50
2    0.33    5      2        9   61.8   55.0   8639.40
3    0.51    4      7        5   58.0   60.0  15412.24
4    0.40    4      6        5   62.2   59.0   9411.25

In [ ]:
diamond_1["price"].to_csv("test_3.csv",header= True )