IN THIS TRY WE WILL DO THE FOLLOWING:
- keep the data very simple 
- try different models to see the different rmse

In [4]:
#import the libraries:
import pandas as pd

In [5]:
#import the dataset:
diamonds = pd.read_csv("train.csv",index_col="id")

In [6]:
diamonds.head()

    carat        cut color clarity  depth  table     x     y     z  price
id
0    0.50      Ideal     D     VS2   62.3   55.0  5.11  5.07  3.17   1845
1    1.54       Good     I     VS1   63.6   60.0  7.30  7.33  4.65  10164
2    1.32  Very Good     J     SI2   61.7   60.0  6.95  7.01  4.31   5513
3    1.20      Ideal     I     SI1   62.1   55.0  6.83  6.79  4.23   5174
4    1.73    Premium     I     SI1   61.2   60.0  7.67  7.65  4.69  10957

In [7]:
diamonds.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [8]:
#Change the datatype so it can be used in the models

In [9]:
diam = diamonds.drop(columns = ['x','y','z']) #HIGH CORRELATION
diam.head()

    carat        cut color clarity  depth  table  price
id
0    0.50      Ideal     D     VS2   62.3   55.0   1845
1    1.54       Good     I     VS1   63.6   60.0  10164
2    1.32  Very Good     J     SI2   61.7   60.0   5513
3    1.20      Ideal     I     SI1   62.1   55.0   5174
4    1.73    Premium     I     SI1   61.2   60.0  10957

In [10]:
#For the categorical columns, lets subsitute for numbers:

In [11]:
diam.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
dtype: object

In [12]:
#--------------------- CUT ----------------------------

In [13]:
diam['cut'].unique()

array(['Ideal', 'Good', 'Very Good', 'Premium', 'Fair'], dtype=object)

In [14]:
#Accorign to kaggle the order goes ;(Fair, Good, Very Good, Premium, Ideal)

In [15]:
"""
Ideal = 5
Premium = 5
Very Good = 3
Good = 2
Fair =1
"""

diam["cut"].replace({"Ideal": 5, "Premium": 4, "Very Good" : 3, "Good" : 2, "Fair" : 1}, inplace=True)

In [16]:
#--------------------- COLOR ----------------------------

In [17]:
diam['color'].unique()

array(['D', 'I', 'J', 'G', 'E', 'H', 'F'], dtype=object)

In [18]:
# Order according to : https://www.diamonds.pro/education/color/
diam["color"].replace({"D": 7, "E": 6, "F" : 5, "G" : 4, "H" : 3, "I": 2 , "J": 1}, inplace=True)

In [19]:
#--------------------- CLARITY ----------------------------

In [20]:
diam['clarity'].unique()

array(['VS2', 'VS1', 'SI2', 'SI1', 'VVS2', 'VVS1', 'I1', 'IF'],
      dtype=object)

In [21]:
# According to : https://www.diamonds.pro/education/clarity/
diam["clarity"].replace({"IF": 9, "VVS1": 8, "VVS2" : 7, 
                             "VS1" : 6, "VS2" : 5, "SI1": 4, 
                             "SI2" : 2, "I1": 1 }, inplace=True)

In [22]:
diam.dtypes

carat      float64
cut          int64
color        int64
clarity      int64
depth      float64
table      float64
price        int64
dtype: object

In [23]:
#Now that every column is the dtype we need: we start with the models

# Models:

In [24]:
X = diam.drop(columns = 'price')
y = diam['price']

In [25]:
X.head()

    carat  cut  color  clarity  depth  table
id
0    0.50    5      7        5   62.3   55.0
1    1.54    2      2        6   63.6   60.0
2    1.32    3      1        2   61.7   60.0
3    1.20    5      2        4   62.1   55.0
4    1.73    4      2        4   61.2   60.0

#### Lets divide the dataset into train and test

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_train, X_test, y_train, y_test = train_test_split( X, y, train_size=0.8)

## 1. LINEAR REGRESSION

In [28]:
from sklearn.linear_model import LinearRegression

In [29]:
#Train the model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [30]:
from sklearn.metrics import mean_squared_error

In [31]:
#Training set
y_pred1 = model.predict(X_train)

rmse_train = mean_squared_error(y_train, y_pred1, squared= False) 
rmse_train

1220.7556943722816

In [32]:
#Testing set
y_pred_test1 = model.predict(X_test)

rmse_test = mean_squared_error(y_test, y_pred_test1, squared= False) 
rmse_test

1204.185433172508

# TREE

In [39]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn import metrics
import numpy as np

In [40]:
randforest = RandomForestRegressor(n_estimators=20, random_state=7)
randforest.fit(X_train, y_train)
y_pred_train_randforest = randforest.predict(X_train)
y_pred_test_randforest = randforest.predict(X_test)

In [41]:
#TRAIN:
print('TRAIN : Mean Absolute Error:', metrics.mean_absolute_error(y_train, y_pred_train_randforest))
print('TRAIN : Mean Squared Error:', metrics.mean_squared_error(y_train, y_pred_train_randforest))
print('TRAIN : Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_train, y_pred_train_randforest)))
print ('----------------------------------------------------------')
#TEST:
print('TEST : Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred_test_randforest ))
print('TEST : Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred_test_randforest ))
print('TEST : Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_test_randforest )))

TRAIN : Mean Absolute Error: 116.70020729714024
TRAIN : Mean Squared Error: 51947.869606657274
TRAIN : Root Mean Squared Error: 227.92075290911373
----------------------------------------------------------
TEST : Mean Absolute Error: 288.8021080176021
TEST : Mean Squared Error: 304608.50306340907
TEST : Root Mean Squared Error: 551.913492373043

In [42]:
#Lets corroborate these values with cross validation:
scores_randforest = cross_val_score(randforest, X_train, y_train, cv=3, scoring='neg_root_mean_squared_error')
scores_randforest

NameError: name 'cross_val_score' is not defined

## 2. LASSO

In [111]:
from sklearn.linear_model import Lasso
from sklearn.preprocessing import StandardScaler

In [112]:
sc = StandardScaler()

In [113]:
model2 = Lasso()
model2.fit(X_train, y_train)

Lasso()

In [114]:
#Training set
y_pred2 = model2.predict(X_train)

rmse_train = mean_squared_error(y_train, y_pred2, squared= False) 
rmse_train

1222.4685835924665

In [115]:
#Testing set
y_pred_test2 = model2.predict(X_test)

rmse_test = mean_squared_error(y_test, y_pred_test2, squared= False) 
rmse_test

1197.1196890781628

## 3. RIDGE

In [116]:
from sklearn.linear_model import Ridge

In [117]:
sc = StandardScaler()

In [118]:
model3 = Ridge(alpha = 1)
model3.fit(X_train, y_train)

Ridge(alpha=1)

In [119]:
#Training set
y_pred3 = model3.predict(X_train)

rmse_train = mean_squared_error(y_train, y_pred3, squared= False) 
rmse_train

1222.4647486280476

In [120]:
#Testing set
y_pred_test3 = model3.predict(X_test)

rmse_test = mean_squared_error(y_test, y_pred_test3, squared= False) 
rmse_test

1197.0528915683933

In [166]:
#### The models are overfitted, lets try it again BUT with more data

In [167]:
X_train2, X_test2, y_train2, y_test2 = train_test_split( X, y, train_size=0.9)

In [168]:
# LINEAR REGRESSION

In [169]:
#LINEAR REGRESSION
from sklearn.linear_model import LinearRegression

#Train the model
model1_2 = LinearRegression()
model1_2.fit(X_train2, y_train2)

LinearRegression()

In [170]:
from sklearn.metrics import mean_squared_error
#Training set
y_pred1_2 = model1_2.predict(X_train2)

rmse_train = mean_squared_error(y_train2, y_pred1_2, squared= False) 
print (' The rmse for train is' ,rmse_train)

#Testing set
y_pred_test1_2 = model1_2.predict(X_test2)

rmse_test = mean_squared_error(y_test2, y_pred_test1_2, squared= False) 
print (' The rmse for test is' ,rmse_test)

 The rmse for train is 1219.6219042923778
 The rmse for test is 1197.0264755709543

In [171]:
# There isnt really a visible change....

# Lets introduce the second dataset

In [172]:
#import the dataset:
diamonds_p = pd.read_csv("predict.csv",index_col="id")

In [173]:
diamonds_p.head()

    carat      cut color clarity  depth  table     x     y     z
id
0    0.45  Premium     E     SI1   62.8   58.0  4.88  4.84  3.05
1    1.23    Ideal     H     SI1   61.0   56.0  6.96  6.92  4.23
2    0.33    Ideal     I      IF   61.8   55.0  4.46  4.47  2.76
3    0.51  Premium     D     VS2   58.0   60.0  5.29  5.26  3.06
4    0.40  Premium     E     VS2   62.2   59.0  4.71  4.74  2.94

In [174]:
# Same steps as with the dataset above:

In [175]:
diam_p = diamonds_p.drop(columns = ['x','y','z'])

diam_p["cut"].replace({"Ideal": 5, "Premium": 4, "Very Good" : 3, "Good" : 2, "Fair" : 1}, inplace=True)
diam_p["color"].replace({"D": 7, "E": 6, "F" : 5, "G" : 4, "H" : 3, "I": 2 , "J": 1}, inplace=True)
diam_p["clarity"].replace({"IF": 9, "VVS1": 8, "VVS2" : 7, 
                             "VS1" : 6, "VS2" : 5, "SI1": 4, 
                             "SI2" : 2, "I1": 1 }, inplace=True)

In [176]:
diam_p.head()

    carat  cut  color  clarity  depth  table
id
0    0.45    4      6        4   62.8   58.0
1    1.23    5      3        4   61.0   56.0
2    0.33    5      2        9   61.8   55.0
3    0.51    4      7        5   58.0   60.0
4    0.40    4      6        5   62.2   59.0

In [177]:
y_pred_predict_test = model1_2.predict(diam_p)

In [178]:
y_pred_predict_test

array([ 907.24396971, 7109.15617166, 1159.62896263, ..., 1653.4901646 ,
       -458.06011486, 4908.69131398])

In [179]:
diam_p['price'] = y_pred_predict_test
diam_p.head()

    carat  cut  color  clarity  depth  table        price
id
0    0.45    4      6        4   62.8   58.0   907.243970
1    1.23    5      3        4   61.0   56.0  7109.156172
2    0.33    5      2        9   61.8   55.0  1159.628963
3    0.51    4      7        5   58.0   60.0  2407.026457
4    0.40    4      6        5   62.2   59.0   937.102491

In [180]:
#export

In [181]:
diam_p["price"].to_csv("test_2.csv",header= True )