In [47]:
#import libraries:
import pandas as pd

## Same algorithm : linear regression

In [56]:
X = dmd_shot2.drop(columns='price')
y = dmd_shot2['price']

In [57]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [58]:
#Separate those into test and training data with 80% of the data in the training set
X_train, X_test, y_train, y_test = train_test_split( X, y, train_size=0.8)

In [59]:
model2 = LinearRegression()
model2.fit(X_train, y_train)

LinearRegression()

In [60]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [61]:
y_pred_train = model2.predict(X_train)

rmse_ = mean_squared_error(y_true= y_train, y_pred= y_pred_train, squared=False) #if False returns RMSE value.
rmse_

1156.8992864460095

In [62]:
y_pred_test = model2.predict(X_test)

rmse_test = mean_squared_error(y_true= y_test, y_pred= y_pred_test, squared=False)
rmse_test

1172.7156478059956

## Add the second dataset

In [63]:
dmddmd_shot2 = pd.read_csv("predict.csv", index_col="id")

In [64]:
#We create the dummies for the columns we want the type to change
dmddmd_s2_dummy = pd.get_dummies(dmddmd_shot2[['cut','color','clarity']], drop_first=True)
dmddmd_s2_dummy.head()

#I now drop the columns I dont need
dmddmd_shot2=dmddmd_shot2.drop(columns=["cut","color","clarity",'depth', 'table', 'x', 'y', 'z'])

#I now join the dummies to the rest of the table
dmddmd_shot2=dmddmd_shot2.join(dmddmd_s2_dummy)
dmddmd_shot2.head()

,carat,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_E,color_F,color_G,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
id,,,,,,,,,,,,,,,,,,
0,0.45,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0
1,1.23,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
2,0.33,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0
3,0.51,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4,0.40,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0

In [65]:
dmddmd_shot2.shape

(13485, 18)

In [66]:
#Now we use this in our model;
y_pred_test_dmddmd_shot2 = model2.predict(dmddmd_shot2)

In [67]:
y_pred_test_dmddmd_shot2

array([ 855.02275362, 7175.68434615,  465.98125291, ..., 1339.87938902,
       -102.55965321, 4926.27278201])

In [68]:
dmddmd_shot2["price"]=y_pred_test_dmddmd_shot2
dmddmd_shot2.head()

,carat,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_E,color_F,color_G,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2,price
id,,,,,,,,,,,,,,,,,,,
0,0.45,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,855.022754
1,1.23,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,7175.684346
2,0.33,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,465.981253
3,0.51,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,2244.543694
4,0.40,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1067.666899

In [69]:
dmddmd_shot2["price"].to_csv("test_1.csv",header= True )